html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, sans-serif;
}

#map {
  width: 100%;
  height: 100vh;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}

/*#countryDropdownContainer {
  width: 180px;
  position: absolute;
  top: 10px;
  left: 50px;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.95);
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}*/

#countryDropdownContainer {
  width: 180px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: rgba(255, 255, 255, 0.95);
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}




@media (min-width: 768px) {
  #countryDropdownContainer {
    /*left: 80px;
    width: auto;
    right: auto*/
  }
}

.leaflet-bar button {
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
}

.country-label {
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  font-weight: bold;
  font-size: 14px;
  padding: 2px 5px;
}


#infoModalBody input {
  max-width: 200px;
}

#map {
  width: 100%;
  height: 100vh; 
}
